@media (max-width: 1199px){
   html{
      font-size: 12px;
   }
   .btn-apl{
      font-size: 18px;
   }
   .price-tag{
      margin: 2rem auto;
      width: 60%;
      font-size: 1.8rem;
   }
}

@media (max-width: 969px){
   html{
      font-size: 12px;
   }
   .btn-apl{
      font-size: 16px;
   }
   .visible-lg{
      display: none;
   }
   .m-menu-link{
      display: block;
   }
   .price-tags{
      flex-direction: column;
   }
   .price-tag{
      width: 70%;
      margin: 2rem auto;
      height: 250px;
   }
   .footer-item{
      font-size: 12px;
   }
   .copyright{
      margin-left: 70px;
   }
   .table-header p{
      width: auto;
   }
   .table-header h2{
      width: auto;
      font-size: 2rem;
   }

   .cwu-btn{
      display: inline-block;
      margin: 0;
      width: 90px;
      font-size: 1rem;
   }

   .footer-menu-link{
      margin-right: 5px;
   }
}